p {
    color: green;
    border: 2px solid red;
}

.header {
    color: greenyellow;
    background-color: grey;
}

div {
    border: 3px solid black;
}

ul {
    list-style: none;
}

li {
    line-height: 30px;
}

li:nth-child(odd) {
    color: rgb(25, 80, 25);
    border: 2px dashed black;
}